/misLibrerias/nbproject/private/
/misLibrerias/build/
/misLibrerias/dist/
/VERSION_2_CINE_RELACIONES/nbproject/private/
/VERSION_2_CINE_RELACIONES/build/
/Ejercicio3EXTRARELACIONES/nbproject/private/
/Ejercicio3EXTRARELACIONES/build/
/Ejercicio2EXTRARELACIONES_VERSION2/nbproject/private/
/Ejercicio2EXTRARELACIONES_VERSION2/build/
